xml-receb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.controleembarque.com.br" targetNamespace="http://www.controleembarque.com.br" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="retrecepDocSub">
		<xs:annotation>
			<xs:documentation>Dados de Retorno para Escrituração</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Autentic">
					<xs:annotation>
						<xs:documentation>Identificação da Empresa Solicitante</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="xCNPJ">
								<xs:annotation>
									<xs:documentation>CNPJ para autenticação no sistema</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Token">
								<xs:annotation>
									<xs:documentation>Token relacionado ao CNPJ</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Control">
					<xs:annotation>
						<xs:documentation>Grupo de controle para status de retorno das mensagens</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Cod">
								<xs:annotation>
									<xs:documentation>Codigo do Retorno</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="xDesc">
								<xs:annotation>
									<xs:documentation>Descrição do Retorno</xs:documentation>
								</xs:annotation>
								<xs:complexType/>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="grupoDoc" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Grupo para Devoluçao dos documentos</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RetDoc" maxOccurs="50">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="chDoc"/>
										<xs:element name="Cod"/>
										<xs:element name="Desc"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>