xml-env.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.controleembarque.com.br" targetNamespace="http://www.controleembarque.com.br" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="recepDocSub">
		<xs:annotation>
			<xs:documentation>Tag Root da Solicitação</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Autentic">
					<xs:annotation>
						<xs:documentation>Identificação da Empresa Solicitante</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="xCNPJ">
								<xs:annotation>
									<xs:documentation>CNPJ para autenticação no sistema</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="xToken">
								<xs:annotation>
									<xs:documentation>Token relacionado ao CNPJ</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Control">
					<xs:annotation>
						<xs:documentation>Grupo para definição dos parametros</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="grupoDoc" maxOccurs="50">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xXMLCTe"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>